{% if item is defined%}
tower-cli job_template create -h {{ awx_host }} -u {{  awx_username }} -p {{ awx_password }} --name {{ item.name }} --inventory {{ item.inventory }} --project {{ item.project }} --playbook {{ item.playbook }} --credential {{ item.credential }} {{ item.options }} {% if item.survey_enabled %}--survey-enabled true --survey-spec '{{ item.survey_spec | to_json }}' {% endif %}
{% endif %}
