{% if item is defined%}
tower-cli project create -h {{ awx_host }} -u {{ awx_username }} -p {{ awx_password }} --organization {{ item.organization }} --name={{ item.name }} --description "{{ item.description }}"  --scm-type {{ item.scm_type }} --scm-url {{ item.sc_url }}  {{ item.options }}
{% endif %}
