{% if item is defined%}
tower-cli credential create -h {{ awx_host }} -u {{  awx_username }} -p {{ awx_password }} --organization {{ item.organization }} --credential-type="{{ item.type }}" --name={{ item.name }} --description "{{ item.description }}" --inputs='{"username": "{{ item.name }}", "password": "{{ item.password }}"}'
{% endif %}
