{% if item is defined%}
tower-cli user create -h {{ awx_host }} -u {{  awx_username }} -p {{ awx_password }} --username {{ item.username }} --password {{ item.password }} --email {{ item.email }} {{ item.options }}
{% endif %}
