{% if awx_credentials is defined%}
{% for cred in awx_credentials %}
tower-cli credential create -h {{ awx_host }} -u {{  awx_username }} -p {{ awx_password }} --credential-type={{ cred.kind }} --name={{ cred.name }} --inputs='{"username": "{{ cred.name }}", "password": "{{ cred.password }}"}'
{% endfor %}
{% endif %}
